.categories{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 50px;
}
.category-card{
    background-image: url("../img/Rectangle139.png");
    background-size: cover;
    width: 220px;
    height: 280px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.category-card__text{  
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
margin-bottom: 30px;
}
.category-card_electric{
    background-image: url("../img/Rectangle140.png");  
}
.category-card_basses{
    background-image: url("../img/Rectangle141.png");  
}
.category-card_collections{
    background-image: url("../img/Rectangle142.png");  
}