.customer-img{
    position: relative;
    width: 100%;
    height: 100%;
    
}
.customer-img__photo{
z-index: 2;
display: block;
position: absolute;
top:20%;
right: 15%;
}
.customer-img__figure{
    position: absolute;
    top:25%;
    right: 31%;
    z-index: 1;
    display: block;
}
.customer-quote{
    margin-top: 138px;
}
.customer-quote__text{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 160%;
color: #666666;
position: absolute;
left:900px;
transition: 0.5s;
}
.customer-quote__text:nth-child(1){
left: 0px;
}
.customer-quote__name{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 160%;
color: #000000;
margin-top: 56px;
margin-bottom: 0;
}
.customer-toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    }
.customer-toolbar__name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.08em;
    color: #868686;
    margin: 0;
}
.customer-buttons{
    display: flex;
    gap: 12px;
    align-items: center;
}
.customer-buttons__button{
    background: #C4C4C4;
    border-radius: 20px;
    border: none;
    width: 10px;
height: 16px;
transition: 0.5s;
}
.customer-buttons__button_active{
    background: #FF6428;
transform: rotate(-90deg);
width: 12px;
height: 24px;
transition: 0.5s;
}
.quote-container{
    overflow: hidden;
}
.quote-lent{
    position: relative;
    height: 250px;
}
